---
import "../css/styles.css";
import Header from "../components/Header.astro";
import Sidenav from "../components/Sidenav.astro";
import Shelf from "../components/Shelf.astro";
import Card from "../components/Card.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="icon" type= "image/svg+xml" href="/icons/logo-alt.svg"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spotify - Web Player: Music for everyone</title>

</head>
<body>
	<Sidenav/>

	<Header/>

	<main>
	


<Shelf name="Spotify Playlists" show = "Show all"/>


<Card header="Today's Top Hits" text = "Jung Kook is on top of the Hottest 50!"/>

<Card header="All Out 2010s" text = "The biggest songs of the 2010s."/>
<Card header="Rock Classics" text = "Rock legends & epic songs that continue to..."/>
<Card header= "Chill Hits" text = "Kick back to the best new and recent chill hits"/>
<Card header="Viva Latino" text = "Today's top Latin hits, elevando nuestra músic..."/>


<Shelf name="Focus" show = "Show all"/>

<Card header="Peaceful Piano" text = "Peaceful piano to help you slow down, breathe, an..."/>
<Card header="Deep Focus" text = "Keep calm and focus with ambient and post-rock..."/>
<Card header="Instrumental Study" text = "Focus with soft study music in the background."/>
<Card header= "Workday Lounge" text = "Lounge and chill out music for your workday."/>
<Card header="Beats to think to" text = "Focus with melodic techno and tech house."/>

	</main>
   

</body>
</html>
