---
import "../css/styles.css";
import Sidenav from "../components/Sidenav.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Headersearch from "../components/Headersearch.astro";
---

    
<MainLayout title="Spotify - Search">
    <div>
        <Sidenav/>
    </div>

    <div>
        <Headersearch/>
    </div>

</MainLayout>

