---
import "../css/styles.css";
import Header from "../components/Header.astro";
import Sidenav from "../components/Sidenav.astro";
import Shelf from "../components/Shelf.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

    
<MainLayout title="Spotify - Search">
    <div>
        <Sidenav/>
    </div>

    <div>
        <div class="headerbox">
            <Header searchbar ={true}/>
          </div>

   <div class="browseall">
    <Shelf name="Browse all">
        
        <div class="grid_5">
    <Card header ="Podcast" />
    <Card header ="Made For You" />
    <Card header ="Charts" />
    <Card header ="New Releases" />
    <Card header ="Discover" />

    <Card header ="Live Events" />
    <Card header ="New Releases" />
    <Card header ="Pop" />
    <Card header ="Summer" />
    <Card header ="Party" />
    </Shelf>
    </div>
</div>
</div>
</MainLayout>


<style>



</style>