---
const {img, header, text} = Astro.props;
---

<div class="Card_bg">
    <div>
        <img class="albumCover" src={img}>
    <h1>{header}</h1>
    </div>

    <p>{text}</p>
<div>
   
   
   
   <style>

.Card_bg {
background: hotpink;
max-width: 174px;
position: relative;
z-index:1;
border-radius:10px;
padding-top:10px;
color: white;
}  

.albumCover {
    margin: auto;
    display: block;
}

/*.card {
        margin-left: 21.5rem;
        margin-top: 1rem;
        border-radius: 0.5rem;
        background-color: grey;
        width: 180px;
        padding: 1rem;
    }
    
   .card img {
        width: 100%;
        border-radius: 5px;
        margin: auto;
    }
    
  .card p{
    display: flex;
    margin-top: -0.5rem;
    line-height: 1.5;
    margin: auto;
    font-size: 13px;
    }

    .card h1 {
        margin: auto;
        margin-left: 0rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 18px;
    }*/

    </style>