---
const {img, header, text} = Astro.props;
---

<article class="card">
<img src={img}>
<h1>{header}</h1>
<p>{text}</p>
</article>
    
    <style>

  
.card {
        margin-left: 21.5rem;
        margin-top: 1rem;
        border-radius: 0.5rem;
        background-color: grey;
        width: 30%;
        padding: 1rem;
    }
    
   .card img {
        width: 200px;
        border-radius: 5px;
        margin: auto;
    }
    
  .card p{
    display: flex;
    margin-top: -0.5rem;
    line-height: 1.5;
    margin: auto;
    font-size: 13px;
    }

    .card h1 {
        margin: auto;
        margin-left: 0rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 18px;
    }


    </style>