---
---
<section class="footer">
    <div>
        <ul>
        <li><p class="preview">PREVIEW OF SPOTIFY</p></li>
        <li><p class="signp">Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</p></li> 
    </ul> 
</div>
    
        <div class="signUpFree">
            <p class="signup">Sign up free</p>
        </div>
</section>

    <style> 
    
    .signUpFree{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 25px;
    border-radius: 2rem;
    padding: 1rem;
    height: 20px;
    width: 120px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    }

    .signUpFree .signup {
        color: black;
        margin: auto;
        margin-left: 0.9rem;
        font-size: 15px;
        font-weight: bold;
    }

  .footer {
    border-radius: 1px;
    margin-top: 1rem;
  }

  .footer p{
font-size: 12px;
line-height: 20px;
  }

.preview{
letter-spacing: 1.2px;
  }

.footer .signp{
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 1rem;
  }

    ul {
list-style: none;
margin-left: -1.5rem;
    }

    ul p {
        margin-bottom: -0.5rem;
    }

    </style>