---
---
<div class="footer">
    <div class="footer_p">
        <p>preview</p>
        <p> sign up...</p>
    </div>
    
    <div>
        <button class="signUpFree">Sign op for free</button>
    </div>
</div>
    <style> 
    
    .signUpFree{
        margin-top:10px;
        margin-bottom: 10px;
        margin-right: 25px;
        border-radius: 20px;
        width: 140px;
        height: 40px;
    }
    .footer_p{
        margin-left:10px; 
        display: flex;
        flex-direction: row;
       gap: 1rem;
    }

    .footer p{
        margin-top: 1rem;
    }

    </style>