---
---

<article>

<section class="header"> 

    <div class="backandforth">
<img src="/icons/back-btn.svg" alt="">
<img src="/icons/forward-btn.svg" alt="">
</div>

<div class="signup">
    <p>Sign up</p>
</div>   
<div class="login"> 
    <p>Log in</p>
</div>
</section>

</article>


<style>

.header {
display: flex; 
flex-direction: row;
justify-content: right;
gap: 2rem;
margin-top: 0.5rem;
}

.backandforth {
    margin-right: 58rem;
    margin-top: 1.5rem;
}

.signup {
    border-radius: 2rem;
    padding: 0.6rem;
    border: 2px;
    margin-left: -10rem;
    color: rgb(227, 227, 227);
    cursor: pointer;
}

.login {
    border-radius: 2rem;
    padding: 1.5rem;
    height: 1px;
    width: 60px;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    display: flex;
    margin-right: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.login p {
    margin-top: -0.5rem;
}

.signup :hover {
    transform: scale(1.1);
}



</style>