---
---

<article>

<section class="header"> 
<div class="backandforth">
<img src="/icons/back-btn.svg" alt="">
<img src="/icons/forward-btn.svg" alt="">
</div>

<div class="signup">
    <button>Sign up</button>
</div>   
<div class="login"> 
    <button>Log in</button>
</div>
</section>

</article>


<style>

.header {
display: flex; 
flex-direction: row;
justify-content: right;
gap: 2rem;
margin-top: -38.5rem;
}

.backandforth {
    margin-right: 55rem;
}

.backandforth img {
    max-width: 100%;
}


</style>