---
---

<article>

    <section class="header"> 
    


        <div class="backandforth">
            <ul>
          <li>
            <div class="back">
            <img src="/icons/back-btn.svg" alt="">
            </div>
        </li> 
    
        <li>
            <div class="forward">
            <img src="/icons/forward-btn.svg" alt=""></div>
        </li>
    </ul>
    </div>

    <div class="searchbar">
    <img class="searching" src ="/icons/search-icon.svg" alt="">
    <p class="whatdoyouwant">What do you want to listen to?</p>
</div>

    <div class="signlog">
        <div class="signup">
        <p>Sign up</p>
    </div>   
    
    <div class="login"> 
        <p>Log in</p>
    </div>
    </div>
    
    </section>
    
    </article>
    
    
    <style>

        .searchbar {
            margin-left: -60rem;
            display: inline-block;
            margin-top: 1rem;
            height: 40px;
            width: 300px;
            border-radius: 50px;
            color: rgb(231, 231, 231);
            background-color: rgb(36,36,36);
        }

.searchbar img {
    margin-left: 0.8rem;
    margin-top: 0.6rem;
    width: 20px;
}

        .whatdoyouwant {
            margin-left: 3rem;
            margin-top: -1.4rem;
            font-size: 12px;
        }
    
    .header {
    display: flex; 
    flex-direction: row;
    justify-content: right;
    gap: 2rem;
    margin-top: 0.5rem;
    }
    
    .backandforth {
        margin-right: 60rem;
        margin-top: 1.5rem;
    }
    
    ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    }
    ul .back {
    background-color: rgb(194, 194, 194);
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-top: -1rem;
    cursor: pointer;
    }
    
    ul .back img {
        margin-top: 0.4rem;
        margin-left: 0.4rem;
    }
    ul .forward {
    background-color: rgb(194, 194, 194);
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-top: -1rem;
    cursor: pointer;
    }
    
    ul .forward img {
        margin-top: 0.4rem;
        margin-left: 0.4rem;
    }
    
    .signlog{
        display: flex;
        gap: 2rem;
        margin: auto;
        margin-right: 0rem;
    }
    .signup {
        border-radius: 2rem;
        padding: 0.6rem;
        border: 2px;
        margin-left: -15rem;
        cursor: pointer;
    }
    
    .signup p {
        color: rgb(167, 167, 167);
    }
    
    .signup p:hover {
        color: rgb(255, 255, 255);
    }
    
    .signup :hover {
        transform: scale(1.1);
    }
    
    .login {
        border-radius: 2rem;
        padding: 1.5rem;
        height: 1px;
        width: 60px;
        justify-content: center;
        background-color: rgb(223, 223, 223);
        display: flex;
        cursor: pointer;
        margin-top: 0.5rem;
    }
    .login p {
        margin-top: -0.5rem;
        color: black;
    }
    
    
    
    
    </style>