---
const {name, show} = Astro.props;
---

<div>
<h1>{name}</h1>
<p>{show}</p>
<div class="Card_grid">
<slot />
</div>
</div>




<style>

.Card_grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.shelf {
    display: flex;
    flex-direction: row;
    gap: 50rem;
    margin-top: 2rem;
}

p {
    cursor: pointer;
}


</style>