---
const {name, show} = Astro.props;
---

<div>
  <div class="flex"> 
<h1>{name}</h1>
<p>{show}</p>
  </div>
<div class="Card_grid">
<slot />
   </div>
</div>




<style>


.Card_grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: 2rem;
}

/*grid-template-columns: repeat(auto-fill, 180px);*/
/*grid-template-columns: repeat(7,1fr);*/

.shelf {
    display: flex;
    flex-direction: row;
    gap: 50rem;
    margin-top: 2rem;
}

h1 {
font-size: 25px;
margin-left: 2px;
}
p {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: -50px;
}


</style>