---
const {name, show} = Astro.props;
---

<article class="shelf">
<h1>{name}</h1>
<p>{show}</p>
</article>



<style>

.shelf {
    display: flex;
    flex-direction: row;
    gap: 50rem;
    margin-top: 2rem;
    margin-left: 21.5rem;
}


</style>