---

---
<article>

<section class="shelf">
<div class="shelf1_header">
<h1>Spotify Playlists</h1>
<p>Show all</p>
</div>

</section>


</article>


<style>
.shelf {
display: flex;
margin-left: 21.5rem;
}

</style>