---
---

<article>
    <section class="spotify_btns">
<div class="spoti">
    <img src="/icons/logo-alt.svg" alt=""><p>Spotify</p>
</div>

<div class="home">
    <img src="/icons/home.svg" alt=""><p>Home</p>
</div>

<div class="search">
    <img src="/icons/search-icon.svg" alt=""> <p>Search</p>
</div>
</section>

<section class="library">
<div class="yourlibrary">
    <img src="/icons/library-icon.svg" alt="">
    <h3>Your Library</h3>

    <div class="plus">
    <img src="/icons/create-icon.svg" alt="">
</div>
</div>


<div class="createplaylist"> 
    <h3>Create your first playlist</h3>
<p>It's easy, we'll help you</p>
<button>Create playlist</button>
</div>

<section class="footernav">

<div class="three">  
<p>Legal</p>
<p>Privacy Center</p>
<p>Privacy Policy</p>
</div>

<div class="two">
<p>Cookie Settings</p>
<p>About Ads</p>
</div>

<div class="one">
<p>Accessibility</p>
<p>Cookies</p>
</div>

<div class="english_btn">
   <img src="/icons/globe-icon.svg" alt="">
   <p>English</p>
</div>

</section>
</section>
</article>

<style>


.spotify_btns {
margin-top: 1.5rem;
border-radius: 0.5rem;
background-color: rgb(18, 18, 18);
margin-bottom: 0.5rem;
width: 100%;
cursor: pointer;
}

.spoti, .home, .search {
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
}
.spoti {
    gap: 0.2rem;
}

.yourlibrary {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.plus {
    display: flex;
    flex-direction: row;
  margin-left: 4.5rem;
margin-top: -0.5rem;
  width: 16px;
  cursor: pointer;
}

.createplaylist {
    border-radius: 0.5rem;
  width: 260px;
  height: 150px;
  display: inline-block;
    background-color: rgb(36, 36, 36);
    margin-top: 1rem;
}

.createplaylist h3, p, button {
    margin-left: 0.5rem;
}

.createplaylist button {
    border-radius: 2rem;
    padding: 0.6rem;
    border: 2px;
    margin-left: 1rem;
}

.library {
    border-radius: 0.5rem;
  display: inline-block;
  padding: 0.5rem;
    background-color: rgb(18, 18, 18);
}

.three {
display: flex;
flex-direction: row;
gap: 1rem;
cursor: pointer;
margin-top: 2.7rem;
}

.two {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
}

.one {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.english_btn {
    display: flex;
    border-radius: 3rem;
    border: 1px solid;
    border-color: rgb(107, 107, 107);
    width: 100px;
    font-size: 15px;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 0.5rem;
    margin-bottom: 4.2rem;
    cursor: pointer;
}

.english_btn:hover {
    border-color: white;
}

.english_btn p {
    color: rgb(255, 255, 255);
}

.footernav {
    font-size: 12px;
    margin-left: 0.5rem;
}

.secondnav, .footernav {
    margin-top: 4.3rem;
}



</style>