---
---

<article>

    <section class="firstnav">
<div class="spoti">
    <img src="/icons/logo-alt.svg" alt=""><p>Spotify</p>
</div>

<div class="home">
    <img src="/icons/home.svg" alt=""><p>Home</p>
</div>

<div class="search">
    <img src="/icons/search-icon.svg" alt=""> <p>Search</p>
</div>
</section>

<section>
<div class="secondnav">
    <img src="/icons/library-icon.svg" alt="">
    <h3>Your Library</h3>

    <div class="plus">
    <img src="/icons/create-icon.svg" alt="">
</div>
</div>
</section>

<section class="footernav">

<div class="three">  
<p>Legal</p>
<p>Privacy Center</p>
<p>Privacy Policy</p>
</div>

<div class="two">
<p>Cookie Settings</p>
<p>About Ads</p>
</div>

<div class="one">
<p>Accessibility</p>
<p>Cookies</p>
</div>

<img src="" alt="">
</section>

</article>

<style>


.firstnav {
margin-left: 1.5rem;
margin-top: 1.5rem;

}
.firstnav img {
max-width: 100%;
}

.spoti, .home, .search {
    display: flex;
    gap: 1rem;
}
.spoti {
    gap: 0.2rem;
}

.secondnav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 1.5rem;
}

.plus {
    display: flex;
    flex-direction: row;
  margin-left: 4rem;
}

.three {
display: flex;
flex-direction: row;
gap: 1rem;
}

.two {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.one {
    display: flex;
    flex-direction: column;
}

.footernav {
    margin-left: 1.5rem;
    font-size: 12px;
}

.secondnav, .footernav {
    margin-top: 2rem;
}

</style>