body {
  background-color: rgb(150, 149, 149);
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.grid_1-5 {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.Card1 {
  margin-left: 50px;
  margin-top: -20rem;
}
