body {
  background-color: rgb(0, 0, 0);
}

h1,
p,
h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 1em;
}

/* Generel grid for sidensstruktur */
.grid_1-5 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  margin-top: -1.5rem;
}

/* Index side */

.headerbox {
  background-color: rgb(9, 9, 9);
  border-radius: 5px;
  margin-left: -0.5rem;
  margin-top: 1.5rem;
  width: 99%;
}

.colorbox {
  background-color: rgb(18, 18, 18);
  border-radius: 5px;
  padding-bottom: 1.3rem;
  padding-top: 0.1rem;
  margin-left: -0.5rem;
  width: 99%;
  height: 692px;
  overflow-y: scroll;
}

/* Search side */

.grid_5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  cursor: pointer;
}

.headerbox2 {
  background-color: rgb(9, 9, 9);
  border-radius: 5px;
  margin-left: -0.5rem;
  margin-top: 1.5rem;
  width: 89%;
}

.browseall {
  background-color: rgb(18, 18, 18);
  border-radius: 5px;
  margin-left: -0.5rem;
  width: 89%;
  height: 715px;
  overflow-y: scroll;
}

a {
  color: rgb(179, 179, 179);
  text-decoration: none;
}

a:hover {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  z-index: 8;
  background: rgb(171, 27, 147);
  background: linear-gradient(
    90deg,
    rgba(171, 27, 147, 1) 1%,
    rgba(225, 120, 237, 1) 51%,
    rgba(0, 170, 255, 1) 100%
  );
}
