body {
  background-color: rgb(150, 149, 149);
}

button {
  cursor: pointer;
}

.grid_1-5 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}
.Card1 {
  margin-left: 100px;
  margin-top: -20rem;
}
